html, body {
margin: 0;
padding: 0;
background: #D2691E;
color: white;
font-size: 18px;
text-align: center;
}/* RESET / LAYOUT */
body, html {
margin: 0;
padding: 0;
min-height: 100vh;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
background: #D2691E;
color: white;
}


